.map-container{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
    height: 90vh;
    width: 80vw;
    // padding: 10px;
}

.map-frame{
    border: 2px solid black;
    height: 100%;
}

#map{
    // position: relative;
    // width: 50%;
    height: 100%;
    z-index: 0; // Hvad ligger øverst og nederst?
}

// #mapid {
//     height: 180px;
// }

.float-button {
    width: min-content;
    z-index: 1;
    border-radius: 50%;
}