:host {
    background-color: gainsboro; 
}

// Card-element til board
.card {
    // z-index: 102;
    background-color: white;
    margin: 20px 10px; // afstand mellem cards og side-kanter
    padding: 0px 20px 20px 10px; // afstand indad
    // padding-left: 10px;
    border-style: solid none;
    border-width: thin ;
    border-color: gray;
}