
<div class="ion-page" main>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide=false></ion-menu-button>
        <!-- ion-menu-button må være Burgermenuen -->
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">

    VELKOMMEN TIL GoGetter!
    <br><br>
    Lav en profil, og kom igang!

  </ion-content>
</div>





<div class="toolbar">
  <ion-button color="light" [routerLink]="['/map']">Find et sted</ion-button>
</div>