ion-icon {
    font-size: 32px; //benyt px der kan deles med 8
  }

#menuHome {
  color: #0099ff
}
#menuMap {
  color: #1c751c
}
#menuProfile {
  color: #b68545
}
#menuMessages {
  color: #3893b8
}
#menuActivities {
  color: #3f7a77
}
#menuSettings {
  color: #7a5341
}
